.inputDiv {
  display: flex;
  height: 3em;
  margin: 3vh;
}

.clearInput {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  border-radius: 5%;
  background-color: rgb(194, 194, 194);
  text-align: center;
  align-content: center;
  width: 3vw;
}

input {
  display: flex;
  font-size: larger;
  height: inherit;
  padding-left: 1vw;
  font-weight: 500;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(224, 224, 224);
}

.formButtons {
  display: flex;
  justify-content: space-evenly;
}
